*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("mountains-background-game-vector.jpg");
    /* background-repeat: no-repeat; */
    
    background-size: cover;
    text-align: center;

} 
h1{ 
    color: rgb(237, 219, 185);
    font-family:cursive;
    margin: 5px ;
    padding: 5px;
    
}

.container{
     height: 70vh;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1.5vmin;
}
.game{
    height: 60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 8px;
    border: none;
    box-shadow: 4px 4px 4px black;
    font-size: 10vmin;
    color:#03273b;
    background-color: #b4e4e7;
    filter: opacity(0.85);
}

#reset{
    padding: 12px;
    background-color: rgb(77 173 231);
    color: black;
    font-size: 3vmin;
    border-style: none;
    border-radius: 9px;
    font-family: cursive;
}
#new_game_button{
    padding: 12px;
    background-color: rgb(77 173 231);
    color: black;
    font-size: 3vmin;
    border-style: none;
    font-family: cursive;
    border-radius: 9px;

}
.message_container #message{
    font-size: 5vmin;
    color: rgb(248, 194, 128);
    font-family: cursive;
}
.message_container{
    height: 90vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.hide{
    display: none;
}